<div id="welcome-content">
  <div id="headers">
    <h1><%= t(".main_header") %></h1>
    <h4><%= t(".subheader") %></h4>
  </div>

  <% if current_user %>
    <%= link_to new_fight_path do %>
      <p class="btn btn-danger index-button"><%= t(".fight") %></p>
    <% end %>
  <% else %>
    <%= link_to new_user_registration_path do %>
      <p class="btn btn-primary index-button"><%= t(".register") %></p>
    <% end %>
  <% end %>
</div>
