<%= simple_form_for @fighter do |f| %>
  <h2 id='create-header'><%= t('fighters.create.create') %></h2>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :description, as: :text %>

  <%= image_tag(@fighter.avatar_url) if @fighter.avatar? %>
  <%= f.input :avatar, as: :file %>
  <%= f.hidden_field :avatar_cache %>

  <%= f.button :submit %>

<% end %>
