<h2 id='fighters-header'><%= @fighter.name %> lvl. <%= @fighter.level %></h2>
<%= image_tag @fighter.avatar, id: 'fighters-avatar-large' %>

<table class="table table-condensed fighters-skills-table">
  <tr>
    <th><%= t('.skill') %></th>
    <th><%= t('.level') %></th>
  </tr>
  <% @fighter.skills.each do |skill| %>
    <tr>
      <td>
        <%= skill.name.text %>
      </td>
      <td>
        <%= skill.level %>
      </td>
    </tr>
  <% end %>
</table>

<table class='table table-condensed fighters-stats-table'>
  <tr>
    <th><%= t('.fights_won') %></th>
    <th><%= t('.fights_lost') %></th>
    <th><%= t('.experience') %></th>
  </tr>
  <tr>
    <td><%= @fighter.won_fights.count %></td>
    <td><%= @fighter.lost_fights.count %></td>
    <td><%= @fighter.experience %></td>
  </tr>
</table>

<% if @fighter.user == current_user %>
  <%= link_to new_fight_path(selected_fighter: @fighter) do %>
    <button id='fight-button' class='btn btn-danger'><%= t("fighters.index.fight") %></button>
  <% end %>
<% end %>
