<%= simple_form_for @fight %>
<% if @preselected_fighter %>
  <div id="fighter">
    <h3 id='fighters-name'><%= @preselected_fighter.name %></h3>
    <%= image_tag @preselected_fighter.avatar, id: 'fighters-avatar' %>
  </div>
<% else %>
  <h3><%= t('.available_fighters') %></h3>
  <table class="table table-condensed" id="available-fighters-table">
    <tr>
      <th><%= t(".avatar") %></th>
      <th><%= t(".name") %></th>
    </tr>

    <% @available_fighters.each do |fighter| %>
      <tr>
        <td><%= image_tag(fighter.avatar.thumb) %></td>
        <td><span class='fighters-name'><%= link_to fighter.name, fighter_path(fighter) %></span></td>
        <td>
          # radio buttons
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
