<!DOCTYPE html>
<html>
  <head>
    <title><%= t(".title") %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <%= link_to root_url do %>
          <div class="navbar-brand">
            <span><%= image_tag("logo.png") %> FIGHT CLUB</span>
          </div>
        <% end %>

        <ul class="nav nav-pills navbar-nav navbar-right">
          <li><%= link_to t(".header.fighters"), fighters_path %></li>

          <% if current_user %>
            <li><%= link_to t(".header.sign.out"), destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to t(".header.sign.in"), new_user_session_path %></li>
            <li><%= link_to t(".header.sign.up"), new_user_registration_path %></li>
          <% end %>

          <%= render 'layouts/language_switcher' %>
        </ul>
      </div>
    </header>

    <div class="container">
      <div id='main-content' class='well'>
        <div class="messages">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </div>

        <%= yield %>

      </div>
    </div>
    <footer class="navbar navbar-inverse navbar-static-bottom">
      <span>Water graphic by <a href="http://www.freepik.com/">Freepik</a> from <a href="http://www.flaticon.com/">Flaticon</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>. Made with <a href="http://logomakr.com" title="Logo Maker">Logo Maker</a></span>
    </footer>
  </body>
</html>
